#meatstickH1 {
    margin-bottom: 30px;
    margin-top: 210px;
}

.meatstickDescription {
    padding-bottom: 100px;
}

.meatstickP {
    width: 800px;
    margin-left: 450px;
}

#overviewTitle {
    margin-top: 230px;
}

#specsTitle {
    margin-top: 80px;
}

#SKU {
    color: rgb(170, 170, 170);
    margin-top: -20px;
    margin-bottom: 50px;
}

.meatstickH3 {
    color: black;
    margin-top: 25px;
}

#specsUl {
    margin-bottom: 120px;
}

.meatstickLi {
    left: 0px;
}