#bbqH1 {
    margin-top: 60px;
}

.BBQSetDiv {
    margin-top: -50px;
    margin-bottom: 150px;
}

#bbqSetInfoRow {
    text-align: left;
    margin-bottom: 150px;
}

#firstlinebbq {
    margin-top: -20px;
    margin-left: 0px;
}

#bbqSetP {
    margin-left: 0px;
}