#footerDiv {
    background-color: rgb(241, 241, 241);
    height: 250px;
    margin-top: -25px;
    margin-bottom: 0px;
}

#disclaimerDiv {
    float: left;
    text-align: left;
    padding-left: 20px;
    border-bottom: solid .5px rgb(204, 204, 204);
    height: 40px;
    color: rgb(170, 170, 170);
    font-size: 11px;
    padding-left: 0px;
}

#copyRightDiv {
    color: rgb(138, 138, 138);
    display: inline;
    border-top:  solid .5px rgb(204, 204, 204);
    padding-top: 2px;
    text-align: left;
    padding-left: 0px;
}

#copyrightLine {
    width:400px;
    margin: 0px;
    margin-right: 210px;
    font-size: 12px;
}

.linkItem {
    color: rgb(138, 138, 138);
    font-size: 12px;
    text-decoration: none;
}

.listItem {
    width: 225px;
    left: 0px;
}

.policyList {
    color: rgb(114, 114, 114);
    font-size: 12px;
    text-decoration: none;
    margin-right: 15px;
    border-right:   solid 1px rgb(204, 204, 204);
    padding-right: 15px;
}

#lastPolicyList {
    border-right: none;
}

h3 {
    color: rgb(114, 114, 114);
    font-size: 18px;
    margin-top: 15px;
}

.footerRow {
    margin-bottom: 10px;
    margin-top: 0px;
}

.list {
    text-align: left;
    padding-left: 0px;
}

#moreCol {
    margin-left: 25px;
}

@media only screen and (max-width: 375px) {
    #footerDiv {
        height: 265px;
        width: 375px;
        overflow-x: hidden;
    }

    #disclaimerDiv {
        width: 375px;
        padding-right: 0px;
    }

    #phonesTxt {
        margin-left: 20px;
        width: 180px;
    }
    
    #copyRightDiv {
        margin-top: 0px;
        padding-left: 20px;
        width: 375px;
        margin-right: 0px;
        padding-right: 0px;
    }
    
    #copyrightLine {
        width: 400px;
        margin-right: 30px;
    }

    #copyRightRow {
        width: 375px;
    }
    
    .policyList {
        margin-right: 10px;
        padding-right: 10px;
    }

    #privacyPolicyTxt {
        display: inline-block;
        margin-top: 10px;
    }
    
    .list {
        text-align: left;
        padding-left: 20px;
        width: 180px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .listItem {
        width: 100px;
    }
    
    #moreCol {
        margin-left: 0px;
        display: inline-block;
        margin-top: -147px;
        margin-left: 165px;
    }

    #footerTitles1 {
        width: 130px;
    }

    #footerTitles2 {
        width: 180px;
    }

    #footerUl {
        width: 180px;
    }

    #footerList1 {
        width: 180px;
        margin-right: 0px;
        padding-right: 0px;
    }

    #listRow {
        margin-bottom: 10px;
    }

    .footerRow {
        width: 375px;
    }
}