.Contact{
    background: #fafafa;
    margin-left: 0px;
    margin-right: 0px;
}

#message{
    background: white;
    width: 30rem; 
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
}

#contactSubmit {
    background-color: #fd9626;
    float: right;
    margin-right: 13px;
}

.input-field {
    margin-left: 0px;
}

#marginLeft0 {
    margin-left: 0px;
}

#reg-form {
    width: 1200px;
}