.Contact{
    background: #fafafa;
    margin: 1rem
}

#message{
    background: white;
    width: 30rem; 
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
}

#contactSubmit {
    background-color: #fd9626
}