.Contact{
    background: #fafafa;
    
}
#message{
    background: white;
    width: 23rem; 
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
}

#contactSubmit {
    background-color: #fd9626
}