.halfImagePic {
    height: 600px;
    width: 800px;
}

.halfTitle {
    position: absolute;
    margin-left: 180px;
    text-decoration: none;
    color: #F8F8F8;
}

.halfImageDiv {
    margin: 15px;
}

.halfDiv {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center; 
    overflow: hidden;
}

