@font-face {
    font-family: "myfont";
    src: url("../../Images/fonts/NexaLight.otf")
}

.fullImageDiv {
    height: 800px;
    width: 100%;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center; 
    overflow: hidden;
}

.fullImagePic {
    height: 300px;
    width: 1000px;
    margin-top: 150px;
    background-color: #fafafa;
}

.description {
    color: black;
    font-family: "myfont";
    position: absolute;
    top: 315px;
    left: 700px;
    font-size: 40px;
}

#title {
    width: 900px;
    height: 230px;
    position: absolute;
    top: 180px;
}

@media only screen and (max-width: 2560px) {
    .description {
        left: 1130px;
    }
}

@media only screen and (max-width: 1690px) {
    .description {
        left: 700px;
    }
}

@media only screen and (max-width: 1399px) {
    .description {
        left: 0px;
    }
}

@media only screen and (max-width: 1024px) {
    .description {
        left: 370px;
    }
}

@media only screen and (max-width: 375px) {
    .fullImageDiv {
        height: 500px;
    }
    .fullImagePic {
        height: 140px;
        width: 400px;
        margin-top: 25px;
    }
    
    .description {
        top: 215px;
        left: 100px;
        font-size: 20px;
    }
    
    #title {
        width: 360px;
        height: 100px;
        top: 160px;
    }
}