.subNav {
    background-color: white;
    border-bottom:  solid .5px rgb(204, 204, 204);
}

.subNavText {
    color: black;
    position: relative;
    font-size: 13px;
}

.mainSubNav {
    font-weight: bold;
}

#wifiBridgeNav {
    left: -360%;
}

#meatStickNav {
    left: -300%;
}

#TheBBQSet{
    left: -290%;
}

#overview {
    margin-left: 100px;
}

#specs {
    margin-left: 20px;
}

.subNavList {
    margin-left: 0;
}